body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
header {
    background-color: #00a2ff;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.logo {
    color: whitesmoke;
}
.opciones {
    display: flex;
    gap: 20px;
}
.opciones a {
    color: whitesmoke;
    text-decoration: none;
}
.opciones a:hover {
    color: blue;
}

.opciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenedor-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-info h1{
    text-align: center;
}

.contenedor-info h2,
.contenedor-info p {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    background-color: #00a2ff;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.conteudo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.texto-footer p{
    margin: 0;
    margin-right: 5px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 5px;
}

footer img{
    height: 25px;
    width: 25px;
}

/* Hacer el sitio responsivo */
@media (max-width: 768px) {
    .opciones {
        display: none;
    }
    
    .logo {
        text-align: center;
    }
    
    .opciones ul {
        flex-direction: column;
    }
    
    .opciones ul li {
        margin-bottom: 10px;
    }
}

.btn-cta {
    display: inline-block;
    background-color: #00a2ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-cta:hover {
    background-color: #0077c2;
}