body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #00a2ff;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo {
    color: whitesmoke;
}
.opciones {
    display: flex;
    gap: 20px;
}
.opciones a {
    color: whitesmoke;
    text-decoration: none;
}
.opciones a:hover {
    color: blue;
}

.opciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenedor-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-info h1{
    text-align: center;
}